<!DOCTYPE html>

<html lang="fa" itemscope itemtype="http://schema.org/Article">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Links.Content.bootstrap_rtl_min_css" rel="stylesheet" type="text/css">
    <link href="@Links.Content.bootstrap_theme_rtl_min_css" rel="stylesheet" type="text/css">
    <link href="@Links.Content.Admin.londinium_theme_css" rel="stylesheet" type="text/css">
    <link href="@Links.Content.Admin.styles_css" rel="stylesheet" type="text/css">
    <link href="@Links.Content.Admin.icons_css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.charts.sparkline_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.uniform_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.select2_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.inputmask_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.autosize_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.inputlimit_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.listbox_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.multiselect_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.validate_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.tags_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.switch_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.uploader.plupload_full_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.uploader.plupload_queue_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.wysihtml5.wysihtml5_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.forms.wysihtml5.toolbar_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.daterangepicker_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.fancybox_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.moment_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.jgrowl_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.datatables_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.colorpicker_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.fullcalendar_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.plugins.admininterface.timepicker_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.bootstrap_rtl_min_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.application_js"></script>
    <script type="text/javascript" src="@Links.Scripts.Admin.common_scripts_js"></script>
    @RenderSection("Header", required: false)
</head>
<body class="full-width page-condensed">
    <!-- Navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-right">
                <span class="sr-only">Toggle navbar</span>
                <i class="icon-grid3"></i>
            </button>
            <a class="navbar-brand" href="#"><img src="~/Content/Loom/images/logo.png" alt="Londinium"></a>
        </div>
        <ul class="nav navbar-nav navbar-right collapse">
            <li><a href="#"><i class="icon-screen2"></i></a></li>
            <li><a href="#"><i class="icon-paragraph-justify2"></i></a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></a>
                <ul class="dropdown-menu icons-right dropdown-menu-right">
                    <li><a href="#"><i class="icon-cogs"></i> This is</a></li>
                    <li><a href="#"><i class="icon-grid3"></i> Dropdown</a></li>
                    <li><a href="#"><i class="icon-spinner7"></i> With right</a></li>
                    <li><a href="#"><i class="icon-link"></i> Aligned icons</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /navbar -->
    <!-- Login wrapper -->
    @RenderBody()
    <!-- /login wrapper -->
    <!-- Footer -->
    <div class="footer clearfix">
        <div class="pull-left">&copy; 2013. Londinium Admin Template by <a href="http://themeforest.net/user/Kopyov">Eugene Kopyov</a></div>
        <div class="pull-right icons-group">
            <a href="#"><i class="icon-screen2"></i></a>
            <a href="#"><i class="icon-balance"></i></a>
            <a href="#"><i class="icon-cog3"></i></a>
        </div>
    </div>
    <!-- /footer -->

    @RenderSection("scripts", required: false)
</body>
</html>